/*#region fonts*/

@font-face{
	font-family: "Azedo-Light";
	src: url(/fonts/Azedo-Light.otf);
}

@font-face{
	font-family: "Azedo-Bold";
	src: url(/fonts/Azedo-Bold.otf);
}

/*#endregion fonts*/

/*#region navigation bar*/

#navbar {
	background-color: #3a3a3a;
	padding-bottom: 0.8em;
}

.logoText {
	font-family: "Azedo-Light";
	color: white;
	margin: 0.3em 0;
	font-size: 4.1em;
	text-align: center;
	line-height: 0.365em;
}

#searchBar{
	margin-top: 1.5em;
	white-space: nowrap;
	text-align:center;
}

#searchtext{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.43em;
	width: 80%;
	max-width: 15em;
    height: 2em;
    border-radius: 0;
}

#searchButton{
	background-color: #5328ff;
	border: none;
	color: white;
	padding: 0;
	width: 20%;
	text-align: center;
	text-decoration: none;
	max-width: 5em;
    height: 2em;
}

#searchButton:hover {
    background-color: #2808aa;
}

.rainbowline{
	background: url(/Pictures/RainbowLine.jpg);
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	height: 0.6em;
}

/*#endregion navigation bar*/

/*#region content*/

.scrollBox {
    overflow-y: scroll;
    height: 40em;
    margin: 0 10%;
    margin-top: 0.5em
}

.ItemGroupStyler {
	width: 100%;
    background-color: #3a3a3a;
    color: white;  
    padding-left: 1em;
    font-size: 1.4em;
}

.ItemStyler {
	width: 100%;
    background-color: white;
    text-align: left;
    border-width: 1px;
    border-color: darkgrey;
    padding-left: 2em;
    border-radius: 0;
}

.ItemStyler:hover {
    background-color: #DDD;
}

.columnHeader {
	background-color: #3a3a3a;
	color: white;
	text-align: center;
	border-radius: 0.05em 0.05em 0 0;
	margin: 0;
	margin-top: 20px;
	padding: 0.1em 0 0.1em 0;
}

#floorplan {
	background-color: lightgray;
	width: 100%;
	border-radius: 0 0 0.05em 0.05em;
	border-width: 0.3em;
	border-style: solid;
	border-color: #3a3a3a;
	background: url(/Pictures/floorplan.jpg);
	background-repeat: no-repeat;	
	background-size: 100% 100%;
    border-top-style: none;
	
}
/*#endregion content*/

/*#region footer*/
#footer {
	background-color: #DDD;
	text-align:center;
	margin-top: 1.4em;
}

#footerCopyRightText {
	font-family: "Azedo-Bold";
	color: darkgrey;
	font-size: 2em;	
}

#footerDate {
	color: #a8a8a8;
}
/*#endregion footer*/